@import url('https://fonts.googleapis.com/css?family=Finger+Paint');



.dad {
     background-image: url(imgdeux.jpg);
     background-repeat: no-repeat;
     background-size: contain;



}

.grow {
     padding: 5px 5px 5px 5px;
     height: 100vh;
     width: 15vh;
     float: left;
     position: relative;
     transition: width 0.5s;
     -webkit-transition: width 0.9s;
     text-align: left;
}

.grow:hover {
     height: 100vh;
     width: 130vh;
     text-align: center;
}

.tab-title {
     width: 1px;
     word-wrap: break-word;
     font-size: 1.7em;
     color: black;
     font-weight: 800;
     color: darkred;
     font-family: 'Finger Paint', cursive;

}

.vertical-tab-1 {
     background-image: url(imgun.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: 5px 5px 30px red;
     text-shadow: 1px 1px 3px grey;


}

.vertical-tab-2 {

     background-image: url(imgun.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: 5px 5px 30px red;
     text-shadow: 1px 1px 3px grey;

}

.vertical-tab-3 {

     background-image: url(imgun.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: 5px 5px 30px red;
     text-shadow: 1px 1px 3px grey;

}

.vertical-tab-4 {

     background-image: url(imgun.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: 5px 5px 30px red;
     text-shadow: 1px 1px 3px grey;
     


}

.name {
     width: 1px;
     word-wrap: break-word;
     font-family: 'Just Another Hand', cursive;
     color: aliceblue;
     font-size: 1.7em;
     position: absolute;
     margin-left: 10px;
     color: darkred;
     font-weight: 900;
     margin-top: 30px;
     text-shadow: 1px 1px 3px grey;
}

.bouton {
     margin-left: 47%;
     margin-bottom: 230px;
     font-family: 'Finger Paint', cursive;

}

.bouton:hover {
     color: darkred;
}

.nom {
     color: darkred;
     font-size: 1.2em;
     font-family: 'Finger Paint', cursive;

}

.prenom {
     color: darkred;
     font-size: 1.2em;
     font-family: 'Finger Paint', cursive;

}

.email {
     color: darkred;
     font-size: 1.2em;
     font-family: 'Finger Paint', cursive;

}

.texte {
     color: darkred;
     font-size: 1.2em;
     font-family: 'Finger Paint', cursive;

}
.form
{
     position: absolute;
    left: 160px;
     top: 110px;
}
/*
@media screen and (max-width: 970px) {
	.rotate {
		font-size: 1.5em;
	}
}


@media screen and (max-width: 970px) {
	.tab-title {
		font-size: 1.6em;
	}
}

@media screen and (max-width: 767px) {
	.rotate {
		font-size: 1.125em;
	}
}


@media screen and (max-width: 767px) {
	.tab-title {
		font-size: 1.25em;
	}
}

@media screen and (max-width: 500px) {
	.rotate {
		font-size: 0.6em;
	}
}


@media screen and (max-width: 500px) {
	.tab-title {
		font-size: 0.75em;
	}
}
*/